*.env

*.local
.local
*.local.yaml
*.local.yml
*__pycache__*
main

config.yaml
config.compose.yaml
node_modules
package-lock.json

node_modules
es/lib
es/src/pb

.vscode
__debug_bin

*.exe
skycasino

*__debug_bin*